.container {
    margin-top: 20px;
    background-color: #222;
    padding: 15px;
    border-radius: 8px;
}

.storageBarContainer {
    margin-bottom: 20px;
    background-color: #2d2d2d;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #444;
}

.storageBarContainerFull {
    border: 1px solid #ff4d4d;
}

.storageHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-weight: bold;
}

.progressBarTrack {
    width: 100%;
    background-color: #111;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.progressBarFill {
  height: 100%;
  transition: width 0.3s ease;
}

.marketHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.tableHeader {
  color: #888;
  padding: 10px 0;
}

.tableRow {
  border-bottom: 1px solid #333;
}

.actionButton {
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-weight: bold;
}

.sellButton { 
  background-color: #666; 
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.sellButton:hover {
  background-color: #888;
}

.buyButton { 
    background-color: #2e6930; 
    color: #fff; 
}

@media (max-width: 480px) {

  .tableHeader {
    display: none !important;
  }

  .table, .table tbody {
    display: block;
    width: 100%;
  }
  .tableRow {
    display: block;
    background-color: #2d2d2d;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #333;
  }
  .tableRow td {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    font-size: 14px;
    border-bottom: 1px solid #383838;
  }
  .tableRow td:nth-child(1) {
    font-weight: bold;
    font-size: 16px;
    color: #4caf50;
    border-bottom: 2px solid #444;
    margin-bottom: 8px;
    padding-bottom: 8px;
    display: block;
    text-align: center;
  }
  .tableRow td:nth-child(2)::before { content: "💰 Prix Actuel :"; font-weight: bold; color: #888; }
  .tableRow td:nth-child(3)::before { content: "📈 Tendance :"; font-weight: bold; color: #888; }
  .tableRow td:nth-child(4)::before { content: "📦 En Stock :"; font-weight: bold; color: #888; }
  .tableRow td:nth-child(5)::before { content: "💳 PAM :"; font-weight: bold; color: #888; }
  .tableRow td:nth-child(6)::before { content: "💸 Bénéfice Latent :"; font-weight: bold; color: #888; }
  .tableRow td:nth-child(7)::before { content: "⭐ Prestige Requis :"; font-weight: bold; color: #888; }
  .tableRow td:last-child  {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 12px;
    border-bottom: none;
  }
  .actionButton, .sellButton {
    width: 100%;
    margin: 0 !important;
    padding: 10px !important;
    font-size: 13px !important;
    text-align: center;
  }
}